.tabs_active::after{
    content: '';
    display: block;
    position: absolute;
    width:100%;
    height: 2px;
    background:#2244CC;
    margin-top: 15px;
    cursor:default;
}

.tabs__item{
    position: relative;
    font-family: "Roboto-Bold";
    text-decoration: none;
    font-size: 18px;
    color: #4A4A4F;
}