.slider__container{
    display: none;
    position:relative;
    width: 100%;
}

.slider__container_active{
    display: block;
}

.sliders__cards{
    display:flex;
    flex-flow:row nowrap;
    grid-gap:15px;
    overflow: hidden;
}


.next__slide, .prev__slide{
    position: absolute;
    top: 40%;
    width: 44px;
    height: 44px;
    display:flex;
    align-items: center;
    justify-content: center;
    background: white;
    border-radius:2px;
    cursor: pointer;
}

.next__slide>img, .prev__slide>img{
    width: 15px;
    height: 12px;
}

.next__slide{
    right: -15px;
    transform: rotate(180deg);
}

.prev__slide{
    left: -15px;
}