@font-face {
    font-family: "Roboto-Bold";
    src: url('./fonts/Roboto-Bold.ttf');
    font-weight: 700;
}

@font-face {
    font-family: "Roboto-Regular";
    src: url('./fonts/Roboto-Regular.ttf');
    font-weight: 400;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto-Regular';
}

/* global */

.wrapper__app {
    max-width: 1330px;
    width: 100%;
    margin: 0 auto;
}


/* header */
.header__app {
    padding-top: 60px;
    padding-bottom: 30px
}

.header__title {
    font-size: 32px;
    font-family: "Roboto-Bold";
}

.header__subtitle {
    font-size: 16px;
    line-height: 24px;
    margin-top: 15px;
}



/* Панель с табами */

.tabs__header {
    padding: 16px 0;
    border-bottom: 1px solid #E1E1E6;
}

.tabs__buttons {
    display: flex;
    grid-gap: 40px;
}

.tabs__body {
    margin-top: 30px;
}


.tabs__header {
    padding: 16px 0;
    border-bottom: 1px solid #E1E1E6;
}

.tabs__buttons {
    display: flex;
    grid-gap: 40px;
}

.tabs__body {
    margin-top: 30px;
}


/* Кнопки табов */

.tabs__item {
    position: relative;
    font-family: "Roboto-Bold";
    text-decoration: none;
    font-size: 18px;
    color: #4A4A4F;
}


/* slider */

.slider__container {
    display: none;
    position: relative;
    width: 100%;
    overflow: hidden;
}

.sliders__cards {
    display: flex;
    flex-flow: row nowrap;
    grid-gap: 15px;
    transition: .3s;
}


.next__slide,
.prev__slide {
    position: absolute;
    top: 40%;
    width: 44px;
    height: 44px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: white;
    border-radius: 2px;
    cursor: pointer;
}

.next__slide>img,
.prev__slide>img {
    width: 15px;
    height: 12px;
}

.next__slide {
    right: -15px;
    transform: rotate(180deg);
}

.prev__slide {
    left: -15px;
}

/* Карточки */

.card {
    position: relative;
    background: white;
    max-width: 320px;
    max-height: 470px;
    border: 1px solid #E1E1E6;
    cursor: pointer;
}

/* Слилизация скролла из плагина */

.simplebar-vertical {
    right: 25px !important;
    margin: 30px 0;
    width: 1px !important;
}

.card:hover .simplebar-vertical {
    background: #E1E1E6 !important;
    transition: .2s all;
}

.simplebar-visible::before {
    background: none !important;
    width: 1px !important;
    left: 0px !important;
    border-radius: 0 !important;
    opacity: 1 !important;
}

.card:hover .simplebar-visible::before {
    background: #2244CC !important;
    transition: .2s all;
}


.shadow__card {
    position: absolute;
    bottom: 0;
    display: block;
    height: 30px;
    width: 100%;
    background: white;
}

.shadow__card:before {
    content: '';
    position: absolute;
    top: -45px;
    display: block;
    width: 100%;
    height: 48px;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0) 21.88%, #FFFFFF 100%);
}

.card__image {
    width: 100%;
    height: 320px;
    object-fit: cover;
}

.card__text {
    padding: 26px 32px 75px 32px;
}

.card__desc {
    font-size: 16px;
    color: #4A4A4F;
    line-height: 24px;
    word-wrap: break-all;
}

.card__tags {
    display: flex;
    flex-flow: row wrap;
    grid-gap: 5px;
    margin-top: 26px;
}

.tag {
    text-decoration: none;
    color: #2244CC;
    font-size: 16px;
    word-break: break-all;
}

.card__skeleton {
    max-width: 320px;
    max-height: 470px;
}

.list__card_skeleton {
    display: flex;
    grid-gap: 15px;
}

[data-simplebar="init"] {
    width: 320px !important;
}

@media(max-width:1400px) {
    .wrapper__app {
        max-width: 900px;
    }

    .card{
        max-width: 288px;
    }

    [data-simplebar="init"] {
        width: 288px !important;
        max-height: 470px !important;
    }
}

@media(max-width:950px) {
    .wrapper__app {
        max-width: 600px;
    }

    .header__app {
        padding-top: 32px;
    }

}

@media(max-width:640px) {
    .wrapper__app {
        max-width: 340px;
    }

    .tabs__buttons {
        justify-content: center;
    }

    .card{
        max-width: 338px;
    }

    [data-simplebar="init"] {
        width: 338px !important;
    }

    .next__slide,
.prev__slide {
   display: none;
}

}

@media(max-width:380px) {
    .wrapper__app {
        max-width: 300px;
    }

    .card{
        max-width: 298px;
    }

    [data-simplebar="init"] {
        width: 298px !important;
    }
}